<div class="container">
  <h2>User Settings</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <!-- for attribute and id attribute in input needs to match to enable click focus -->
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
        required #nameField="ngModel" [class.field-error]="form.submitted && nameField.invalid"
        (blur)="onBlur(nameField)"/>
        <div [hidden]="!form.submitted ||nameField.valid" class="alert alert-danger">
          Enter a name
        </div>
      </div>


      <!-- form group class is used for spacing -->
      <div class="form-check form-group">
        <input class="form-check-input" name="emailOffers" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="userSettings.emailOffers">
        <label class="form-check-label" for="defaultCheck1">
          Default checkbox
        </label>
      </div>

      <p>User Interface Style</p>
      <!-- Multiple radio box needs to use the same name attribute for grouping -->
      <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="lightInterface" value="Light" checked [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="lightInterface">
              Light
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="mediumInterface" value="Medium" [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="mediumInterface">
              Medium
            </label>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="darkInterface" value="Dark" [(ngModel)]="userSettings.interfaceStyle">
              <label class="form-check-label" for="darkInterface">
                Dark
              </label>
            </div>
      </div>
      <div class="form-group">
        <label for="subscriptionType">Subscription Type</label>
        <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
          <option>Monthly</option>
          <option>Annual</option>
          <option>Lifetime</option>
        </select>
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" class="form-control" row="3"  [(ngModel)]="userSettings.notes"></textarea>
      </div>

      <!-- <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control"/>
      </div>

      <div class="form-group">
          <label for="testing">Password</label>
          <input type="date" id="testing" name="testing" class="form-control"/>
        </div> -->
      <button class="btn btn-primary">send</button>
    </form>
</div>

{{userSettings | json}}
